Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Ignore Wwise files
/UntitledFantasyAdventureGame/TempDefinitionFile.txt
UntitledFantasyAdventureGame_WwiseProject/.cache/
UntitledFantasyAdventureGame_WwiseProject/*.prof
UntitledFantasyAdventureGame_WwiseProject/*.validationcache
