Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Ignore Wwise files
TempDefinitionFile.txt
*.akd
*.wem
*.prof
IncrementalSoundBankData.xml
Wwise/Tibessa/Tibessa.wproj
Wwise/Tibessa/Tibessa.anton.wsettings
Wwise/Tibessa/.cache/*
Wwise/Tibessa/*.validationcache
