Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Ignore Wwise files
/FCT/TempDefinitionFile.txt
WwiseProject/.cache/
WwiseProject/*.prof
WwiseProject/*.validationcache
